<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="shortcut icon" href="../Icon/icono de portafolio.png" type="image/x-icon">
    <title>Contactame</title>
</head>
<body class="contactame">
    <form class="form">
    <div class="form-container">
    <h2 class="form-title">Contáctame</h2>
        <input type="text" class="form-input" placeholder="Nombre:" required>
        <input type="email" class="form-input" placeholder="Email:" required>
        <textarea class="form-input form-input--message" placeholder="Mensaje:" required></textarea>

        <input type="submit" value="Enviar" class="form-cta">
    </div>
    </form>

</body>
</html>