<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="shortcut icon" href="../Icon/icono de portafolio.png" type="image/x-icon">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <title>CV Julio Rodríguez</title>
</head>

<body class="cv">
    <div class="cont">
        <div class="izquierdo">
            <div class="text">
                <div class="image">
                    <img src="../Image/logocv.png" class="logo1"  alt="logo">
                </div>
                <h2>Julio Wilfredo Rodríguez Morales<br><span class="des">Desarrollador Web Junior</span></h2>
            </div>
            
            <div class="info">
                <h3 class="titulo">Información de Contacto</h3>
                <br>
                <section class="contacto">
                    <li>
                        <span class="icon"><ion-icon name="call-outline"></ion-icon></span>
                        <span class="text">+502 4215-7455</span>
                    </li>
                    <li>
                        <span class="icon"><ion-icon name="mail-open-outline"></ion-icon></span>
                        <span class="text">jrwilly1986@gmail.com</span>
                    </li>
                    <li>
                        <span class="icon"><ion-icon name="location-outline"></ion-icon></span>
                        <span class="text">San Antonio la Paz, El Progreso.</span>
                    </li>
                </section>
            </div>

            <div class="info educacion">
                <h3 class="titulo1">Estudios</h3>
                <br>
                <section class="educa">
                    <li>
                        <span class="text"><b>Bachiller en Computación con Orientación Comercial</b></span>
                        <br>
                        <span class="text">Colegio El Rosario Sanarate, El Progreso.</span>
                        <br>
                        <span class="text">Graduado en el año 2004</span>
                    </li>
                    <br>
                    <li>
                        <span class="text"><b>Curso Implementación de Datos Abiertos</b></span>
                        <br>
                        <span class="text">Julio 2021.</span>
                    </li>
                    <br>
                    <li>
                        <span class="text"><b>Master Class Seguridad en Sitios Web</b></span>
                        <br>
                        <span class="text">Junio 2021</span>
                    </li>
                    <br>
                    <li>
                        <span class="text"><b>Taller Transformación Digital y Ciberseguridad para MIPYMES.</b></span>
                        <br>
                        <span class="text">Junio 2021</span>
                    </li>
                    <br>
                    <li>
                        <span class="text"><b>Curso de Capacitación Especializada en Informática Forense.</b></span>
                        <br>
                        <span class="text">Diciembre 2018.</span>
                    </li>

                </section>
                <br>
                <div class="lenguajes">
                <h3 class="titulo2">Idiomas</h3>
                <br>
                <section class="idioma">
                    <li>
                        <span class="text"><b>Español - Nativo</b></span>
                    </li>
                    <li>
                        <span class="text"><b>Ingles - Nivel Básico</b></span>
                    </li>
                </section>
            </div>
            <br>
            </div>
        </div>

        <div class="derecho">
            <br>
            <div class="perfil">
                <h2 class="titulo3">Sobre Mi</h2>
                <p>Desarrollador Web Junior innovador, proactivo y con capacidad para desarrollar páginas web elegantes y pioneras, asi como diseños de aplicaciones para clientes.
                Durante mi trayectoria he podido aprender y perfeccionar conocimientos.
                </p>
                <BR></BR>
                <br>
                <div class="hblds">
                    <h3 class="titulo3">Habilidades</h3>
                    <br>
                    <section class="habilidades">
                        <li>
                            <span class="icon"><ion-icon name="logo-html5"></ion-icon></span>
                            <span class="text">Conocimiento en HTML, CSS y JAVASCRIPT</span>
                        <br>
                            <span class="icon"><ion-icon name="analytics-outline"></ion-icon></span>
                            <span class="text">Capacidad analítica y autocrítica</span>
                        <br>
                            <span class="icon"><ion-icon name="mic-circle-outline"></ion-icon></span>
                            <span class="text">Comunicación proactiva</span>
                        <br>
                            <span class="icon"><ion-icon name="code-working-outline"></ion-icon></span>
                            <span class="text">Resolución de problemas e imprevistos</span>
                        <br>
                            <span class="icon"><ion-icon name="swap-vertical-outline"></ion-icon></span>
                            <span class="text">Control de versionamientos</span>
                        <br>
                            <span class="icon"><ion-icon name="contract-outline"></ion-icon></span>
                            <span class="text">Responsive desing</span>
                        <br>
                            <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
                            <span class="text">Pruebas y Depuración</span>
                        </li>
                    </section>
                </div>

            </div>
        </div>

    </div>
</body>
</html>